NEXT_PUBLIC_SUPABASE_URL=<SUPABASE_URL>
NEXT_PUBLIC_SUPABASE_ANON_KEY=<SUPABASE_ANON_KEY>

NEXT_PUBLIC_TICKET_ROUND=Awareness Session
NEXT_PUBLIC_TICKET_DATE=21st of July
NEXT_PUBLIC_TICKET_TIME=8.00pm

EVENT_TITLE=Awareness Session
EVENT_TARGET_DATE=2026-07-21T20:00:00

RESEND_API_KEY=<RESEND_API_KEY>
