NEXT_PUBLIC_SUPABASE_URL=<SUPABASE_URL>
NEXT_PUBLIC_SUPABASE_ANON_KEY=<SUPABASE_ANON_KEY>

NEXT_PUBLIC_TICKET_ROUND=<TICKET_ROUND>
NEXT_PUBLIC_TICKET_DATE=<TICKET_DATE>
NEXT_PUBLIC_TICKET_TIME=<TICKET_TIME>

EVENT_TITLE=<EVENT_TITLE>
EVENT_TARGET_DATE=<2025-10-01T17:00:00>

RESEND_API_KEY=<RESEND_API_KEY>
